.comment-container {
    border: 1px solid black;
    margin-top: 2rem;
    margin-bottom: 0;
    padding-bottom: 0;
    align-self: flex-start;
    width: 100%;
    border-radius: 1rem;
}

.user-details {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    flex-wrap: wrap;
    word-break: break-word;
}

.user-info {
    display: inline-flex;
    align-items: center;
}

.user-details p {
    margin-left: auto;
}

.user-details img {
    height: 25px;
    width: 25px;
    max-width: fit-content;
    border-radius: 50%;
    margin-right: .5rem;
    border: 1px solid black;
    background-color: aliceblue;
}

.body-container {
    margin-left: 1rem;
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;
    flex-direction: column;
}

.vote-container {
    align-self: flex-end;
    margin-bottom: 0;
}

.body-text {
    word-break: break-word;
}

.comment-vote-score {
    display: flex;
    align-items: center;
    margin: .5em;
  }
  
.comment-vote-score button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: .3rem;
  }
.vote-score button:hover .comment-up-arrow, button:hover .comment-down-arrow{
    color: pink;
  }
  
.comment-vote-button-clicked .comment-up-arrow, .comment-vote-button-clicked .comment-down-arrow {
    color: lightblue;
  }

.comment-up-arrow, .comment-down-arrow {
    margin-right: 0;
    margin-left: 0
}

.gif {
    width: 100%;
    max-width: 20rem;
}



.comment-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 450px) {

    .user-details {
       justify-content: center;
       flex-direction: column;
    }
   
    .user-details p {
        margin-left: 0;
    }
}