.comment-container {
    margin: 0;
    padding: 0.5em 0em;
    border-left: 1px solid lightblue;
    display: flex;
}

.comment-body {
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
}

.reply-container {
    margin-right: 0;
    padding-right: 0;
}

.reply-container .comment-body {
    padding-right: 0em;
}

.first-comment {
    border-top: 1px solid lightblue;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    padding-top: 1em;
}

.all-comments {
    border-right: 1px solid lightblue;
}

.last-comment {
    border-bottom: 1px solid lightblue;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
}


.comment-user-details {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    word-break: break-word;
}

.user-info {
    display: inline-flex;
    align-items: center;
}

.comment-user-details p {
    margin-left: auto;
}

.comment-user-details img {
    height: auto;
    width: 25px;
    border-radius: 50%;
    margin-right: .5rem;
    background-color: aliceblue;
}


.comment-text-container {
    margin-left: 1rem;
    display: flex;
    margin-top: .5em;
    margin-bottom: .5em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.vote-container {
    align-self: flex-end;
    margin-bottom: 0;
}

.body-text {
    word-break: break-word;
}


.gif {
    width: 100%;
    max-width: 20rem;
}

.show-replies {
    margin-left: 1em;
}

.comment-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.comment-footer button {
    padding: .5em;
}

.replies-button {
    color: black; /* Text color */
    border: none;
    font-size: 1em; /* Font size */
    cursor: pointer; /* Cursor to indicate it's clickable */
    text-decoration: underline; /* Underline text */
    transition: color 0.3s ease; /* Smooth transition for color change */
    background: transparent;
    -webkit-tap-highlight-color: transparent;
}

@media only screen and (max-width: 450px) {
    .replies-button {
        font-size: .8em;
    }
}

@media only screen and (max-width: 600px) {

    .comment-user-details {
       justify-content: center;
       flex-direction: column;
    }
   
    .comment-user-details p {
        margin-left: 0;
        font-size: .8em;
    }

    .comment-text-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        padding-top: 0;
        margin-left: 1em;
        margin-right: 1em;
    }

    .comment-body {
        text-align: center;
    }

    .vote-container {
        align-self: center;
    }

}

@media (hover: hover) and (min-width: 501px) {
    .replies-button:hover {
        color: pink; /* Pink color on hover */
        text-decoration: none; /* Optional: Remove underline on hover */
        background-color: aliceblue;
    }
}


@media (hover: none) {
    .replies-button:hover {
      color: none;
      text-decoration: underline;
      background-color: transparent !important;
    }

    .replies-button:active {
        color: pink;
        text-decoration: none;
        background-color: aliceblue !important; /* Ensure the background remains transparent on active */
    }
  }
/* Samsung */
@media (hover:hover) and (max-width: 500px) {
    .replies-button:active {
        color: pink;
        text-decoration: none;
    }
  }

@media only screen and (max-width: 600px) {
    .replies-button {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .comment-body {
        padding-left: 0;
        padding-right: 0;
    }
}

