header {
   display: flex;
   background-color: pink;
   padding: 0.75rem;
   position: relative;
}

.logo {
    display: flex;
    align-items: center;
    max-width: 30%;
}

.logo p {
    margin-left: 0.5rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

header .logo-icon {
    font-size: 2rem;
    color: purple;
}
.search-container {
    position: absolute;
    left: 65%;
    transform: translateX(-70%)
    
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex-grow: 0.4;
    height: 2rem;
    width: 12rem;
    border-radius: .5rem;
    border: 1px solid black;
    padding-left: 1rem;
    padding-right: 1rem;
}

.search button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.search-icon {
    margin-right: 1rem;
    font-size: 2rem;
}

@media only screen and (max-width: 600px) {
    .search {
        display: none
    }
}