.all-posts-container {
     
    width: 70%;
}

.no-post-found {
   border-radius: 2rem;
}

@media only screen and (max-width: 600px) {
    .all-posts-container {
       width: 90%;
    }
}
@media only screen and (min-width: 601px) and (max-width: 1023px) {
    .all-posts-container {
        width: 100%;
 
    }
}