.custom-subreddits-container {
  margin-bottom: 1em;
}


.subreddit-search {
    display: flex;
    gap: 10px;
    margin-bottom: 1em;
    justify-content: center;
  }
  
  .subreddit-search input {
    flex-grow: 0.4;
    height: 2rem;
    width: 12rem;
    border-radius: 4px;
    border: 1px solid black;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
  }
  
  .subreddit-search-button {
    padding-left: 0;
    padding-right: 0;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .subreddit-search-icon {
    margin-right: 1rem;
    font-size: 2rem;
  }
  
  .subreddit-search input, .subreddit-search button {
    height: 2.5em; /* Sets a responsive height */
    min-height: 30px; /* Minimum height */
    max-height: 30px; /* Maximum height */
    padding: 5px 10px; /* Adjust padding as needed */
    font-size: 1em; /* Adjust font size as needed */
  }

  .custom-subreddit-button {
    border: none;
    background: none;
    border-radius: 4px;
    padding: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1rem;
    justify-content: space-between;
  }
  
  
  .selected-subreddit .custom-subreddit-button {
    color: black;
    background-color: lightblue;
  }
  

  .remove-subreddit {
    font-size: 1.2em;
    background-color: transparent;
    border-radius: .5em;
    border: none;
    cursor: pointer;
  }
  
  .remove-subreddit:active {
    font-size: 1.4em;
    background-color: aliceblue;
  }