
.subreddit-search {
    display: flex;
    gap: 10px;
    margin-bottom: 1em;
    justify-content: center;
  }
  
  .subreddit-search input {
    flex-grow: 1;
  }
  
  .subreddit-search-button {
    padding-left: 0;
    padding-right: 0;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .subreddit-search-icon {
    margin-right: 1rem;
    font-size: 2rem;
  }
  
  .subreddit-search input, .subreddit-search button {
    height: 2.5em; /* Sets a responsive height */
    min-height: 30px; /* Minimum height */
    max-height: 30px; /* Maximum height */
    padding: 5px 10px; /* Adjust padding as needed */
    font-size: 1em; /* Adjust font size as needed */
  }
  