.gallery-display {
    position: relative;
    display: flex;
    justify-content: center;
    min-width: 100%;
    max-height: 31.25rem;
    box-sizing: border-box;
  }

.gallery-display img {
    max-height: 100%;
    width: 90%;
    object-fit: contain;
}
  
  .gallery-display .slideButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 1em;
    margin-right: 1em;
    background-color: transparent;
    color: gray;
    border: 0.25rem solid aliceblue;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    font-size: 3.5rem;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Add shadow here */
  }

  .gallery-display button:hover {
    border: 0.25rem solid pink;
    color: pink;
    box-shadow: 0 2px 4px grey; /* Add shadow here */
  }
  
  .gallery-display .prev {
    left: 0rem;
    padding-right: 0.5rem;
  }
  
  .gallery-display .next {
    right: 0rem;
    padding-left: 0.5rem;

  }

  /* Screens that don't have hover (most mobile devices) */
 @media (hover: none) {
  .gallery-display button:hover {
    border: 0.25rem solid aliceblue;
    background-color: transparent;
    color: gray;
    box-shadow: 0 2px 4px grey; /* Add shadow here */
  }

  .gallery-display button:active {
    border: 0.25rem solid pink;
    color: pink; 
  }
}

/* Screens that have hover and are not Samsung */
@media (hover: hover) and (min-width: 501px) {
  .gallery-display button:hover {
    border: 0.25rem solid pink;
    color: pink;
    box-shadow: 0 2px 4px grey; /* Add shadow here */
  }
}

/* Samsung screens that are mousepads (have hover) but don't behave like they do*/ 
@media (hover:hover) and (max-width: 500px) {
  .gallery-display button:hover {
    border: 0.25rem solid aliceblue;
    background-color: transparent;
    color: gray;
    box-shadow: 0 2px 4px grey; /* Add shadow here */
  }
}




  @media only screen and (max-width: 900px) {
    .gallery-display .slideButton {
      margin-left: 0.3em;
      margin-right: 0.3em;
    }
  }

  @media only screen and (max-width: 750px) {
    .gallery-display .slideButton {
      margin-left: 0.1em;
      margin-right: 0.1em;
      height: 3rem;
      width: 3rem;
    }
  }

  @media only screen and (max-width: 750px) {
    .gallery-display .slideButton {
      height: 3rem;
      width: 3rem;
    }
  }