.vote-score {
    display: flex;
    align-items: center;
  }
  
  .vote-score button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0.3rem;
  }
  
  .button-clicked .up-arrow, .button-clicked .down-arrow{
    color: lightblue;
  }
  
  .post-up-arrow, .post-down-arrow {
    font-size: 2em;
  }

  .comment-up-arrow, .comment-down-arrow {
    font-size: 1.3em;
  }


  @media (hover: hover) and (min-width: 500px) {
    .vote-score button:hover .up-arrow, .vote-score button:hover .down-arrow {
      color: pink;
    }
  }

  @media (hover: none) {
    .vote-score button:active .up-arrow, button:hover .down-arrow {
      color: none;
    }

  }
