.comment-loading {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
  }


.cmt-loading-details-container {
    display: flex;
    flex-direction: row;
   justify-content: space-between;
   width: 100%;
   align-items: center;
   overflow: hidden;

}

.cmt-loading-sub-details {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.loading-comment-content {
    display: flex;
    overflow: hidden;
    max-width: 100%;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: spa;
}

@media only screen and (max-width: 600px) {
    .cmt-loading-details-container {
        flex-direction: column;
        align-items: flex-start;
    }
    .cmt-loading-time-details {
        margin-left: 1em;
    }
}
