.comment-loading {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 1rem;
    margin: 2rem 0;
  }

.cmt-loading-details-container {
    display: flex;
    flex-direction: row;
   justify-content: space-between;
   width: 100%;
   align-items: center;
}

.cmt-loading-sub-details {
    display: flex;
    align-items: center;
}

.loading-comment-content {
    display: flex;
    overflow: hidden;
    max-width: 100%;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}