.card {
    background-color: aliceblue;
    margin: 2rem 1rem;
    padding: 2rem 2rem;
    font-family: Helvetica;
    box-sizing: content-box;
}

@media (max-width: 1023px) {
    .card {
        margin: 2rem 2rem;
    }
}

@media only screen and (max-width: 600px) {
   .card {
        margin: 2rem 0;
        padding: 1rem;
   }
  }