.card {
    background-color: aliceblue;
    margin: 2rem 1rem;
    padding: 2rem 2rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
