.subreddits-drop-down {
  width: 100%;
}

.container {
  display: flex;
  overflow-x: auto;
  justify-content: space-evenly;
}

@media (max-width: 1023px) {
  .subreddits-dropdown {
    display: block; /* Show SubredditsDropDown for smaller screens */
  }

  .container {
    display: flex; /* Show Subreddits for smaller screens */
  }

  .container > :nth-child(1) {
    display: none;
  }
}

@media (min-width: 1024px) {
  .subreddits-dropdown {
    display: none; /* Hide SubredditsDropDown for larger screens */
  }

  .container {
    display: flex; /* Show Subreddits for larger screens */
  }

  .container > :nth-child(1) {
    display: block;
  }
}