.drop-down-container {
    margin-top: 2rem;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
}

.drop-down-container h2 {
    margin-right: 1rem;
}

.drop-down {
    height: 3rem;
    background-color: aliceblue;
    border-radius: 4rem;
    text-align: center;
    font-size: 1rem;
}

.option {
    border-radius: 4rem;
    display: flex;
    align-items: center;
}

.custom-select {
    width: 30%;
}

.selected-option {
    display: flex;
    align-items: center;
}
