.post-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2rem;
  max-width: 100%;
}

.post-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  max-width: 100%;
}

.details-container {
  display: flex;
  justify-content: space-between;
  word-break: break-word;
}


.sub-details {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-details img {
  height: auto;
  width: 1.5rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.posted-by {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.author-details {
  text-align: center;
  align-self: center;
  display: flex;
  align-items: center;
}

.author-details img {
  height: auto;
  width: 1.5rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  background-color: aliceblue;
}

.time-details {
  text-align: center;
  align-self: center;
}

.post-details {
  display: flex;
  margin-left: 6rem;
}



.post-title {
  text-align: center;
  word-break: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2em;
  margin-bottom: 2em;
}

.post-title h1 {
  word-wrap: break-word;
}



.post-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  max-width: 100%;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}



.image-text {
  line-height: 1.5rem;
  margin-bottom: 2rem;
  width: 100%;
  text-align: center;
}

.selftextDisplay {
  word-wrap: break-word;
  text-align: center;
}

.img-container img {
  max-height: 50rem;
  max-width: 100%;
  width: auto;
}


.post-content-container .video {
  height: 100%;
  max-height: 500px;
  width: 100%;
}

.link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-wrap: break-word;
  white-space: break-spaces;
}

.link-container a {
  max-width: 100%;
  display: flex;
}

.link-text {
  line-height: 1.5rem;
  margin-bottom: 2rem;
  width: 100%;
}

.post-content-container a {
  text-align: center;
}

.link-icon {
  align-self: center;
}

.post-content-container .selftextDisplay {
  width: 100%;
}

.post-content-container .selftextDisplay p {
  margin-bottom: 1.5em;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.galleryTextDisplay {
  margin-top: 2rem;
  text-align: center;
  line-height: 1.5rem;
}

.comment-button {
  width: fit-content;
}

.comment-button {
  color: black;
  background: none;
  padding: 0;
  margin: 0 0.5em;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  border: none;
  text-decoration: underline;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}


.comment-icon {
  font-size: 1.3rem;
  margin-right: 0.5rem;
  padding-top: .2em;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5em auto;
}

.post-score-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1.5em auto;
}

.comment-loading-container {
  border: 1px solid lightblue;
  border-radius: 2em;
  overflow: hidden;
}


@media only screen and (max-width: 450px) {
  .comments-container {
    align-items: center;
  }
  .comment-button {
    max-width: 90%;
    flex-wrap: wrap;
    word-break: break-word;
    flex-direction: column;
    font-size: .8rem;
  }
  .comment-icon {
    margin-left: .4rem;
  }
}

@media only screen and (max-width: 600px) {
  .post-wrapper {
    width: 90;
    max-width: 100%;
  }
  .details-container {
    flex-direction: column;
  }

  .post-title {
      margin: 1rem 0;
  }
  .post-title h1 {
    font-size: 1rem;
  }
  .post-score-footer {
    justify-content: center;
  }
 }

 /* Screens that don't have hover (most mobile devices) */
 @media (hover: none) {
  .comment-button:hover {
    color: none;
    text-decoration: underline;
    background-color: transparent !important;
  }

  .comment-button:active {
      color: pink;
      text-decoration: none;
      background-color: aliceblue !important; /* Ensure the background remains transparent on active */
  }
}

/* Screens that have hover and are not Samsung */
@media (hover: hover) and (min-width: 501px) {
  .comment-button:hover {
      color: pink; /* Pink color on hover */
      text-decoration: none; /* Optional: Remove underline on hover */
      background-color: aliceblue;
  }
}

/* Samsung screens that are mousepads (have hover) but don't behave like they do*/ 
@media (hover:hover) and (max-width: 500px) {
  .comment-button:active {
      color: pink;
      text-decoration: none;
  }
}

